BODY {
	BACKGROUND-COLOR: white; COLOR: black; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%
}
H2 {
	COLOR: #000000; FONT-FAMILY: geneva,arial,tahoma,helvetica,sans-serif; FONT-SIZE: 95%; MARGIN-LEFT: -1%; MARGIN-TOP: 10px
}
H3 {
	COLOR: #000000; FONT-FAMILY: geneva,arial,tahoma,helvetica,sans-serif; FONT-SIZE: 85%; MARGIN-LEFT: -1%
}
H4 {
	COLOR: #000000; FONT-FAMILY: geneva,arial,impact,tahoma,helvetica,sans-serif; FONT-SIZE: 75%
}

/*
     FILE ARCHIVED ON 20:08:02 Dec 16, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:25:50 Mar 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.091
  exclusion.robots.policy: 0.076
  cdx.remote: 0.15
  esindex: 0.019
  LoadShardBlock: 780.099 (6)
  PetaboxLoader3.datanode: 301.849 (7)
  PetaboxLoader3.resolve: 194.738 (3)
  load_resource: 170.726
*/